html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    font-family: "Courier New", monospace;
    background-image: linear-gradient(to bottom, #99e2fe, #fddabe87);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  p {
    font-size: 20px;
    line-height: 150%;
  }
  
  ul {
    list-style-type: none;
    font-size: 20px;
    line-height: 200%;
    padding-left: 0;
    margin: 0;
  }