html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Courier New", monospace;
  background-image: linear-gradient(to bottom, #99e2fe, #fddabe87);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 20px;
  line-height: 150%;
}

ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 200%;
  padding-left: 0;
  margin: 0;
}

.profile-image {
  width: 100%;
  border: 5px solid #fab974;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.status-image {
  width: 100px;
  height: 100px;
  border: 5px solid #fab974;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fab974;
  padding: 10px 20px;
  
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #9d6325;
  color: white;
}

/* Table Styling */
.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.profile-table th,
.profile-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}
.profile-table td {
  cursor: pointer;
}

.profile-table th {
  background-color: #fab974;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.profile-table tbody tr:hover {
  background-color: #f9f9f9;
}

.profile-table td img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fab974;
  object-fit: cover;
}

.profile-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.profile-table tbody tr:hover {
  background-color: #f0f0f0;
}

.footer {
  background-color: #fab974;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}

.footer p {
  margin: 0; /* Remove margin from paragraph */
}
